*.s
*.out
tmp*
temp*

# PA2

/assignments/PA2/test.output
/assignments/PA2/*.s
/assignments/PA2/*.o
/assignments/PA2/*.d
/assignments/PA2/*.cc
/assignments/PA2/*~
/assignments/PA2/lexer

# PA3

/assignments/PA3/*.yy.c
/assignments/PA3/*.tab.h
/assignments/PA3/*.tab.c
/assignments/PA3/*.out